#system files
.DS_Store
Thumbs.db
*.lnk

#matlab files
*.asv
*.m~
*.mex*

#temp files
*~

##################################
#		FOR PYTHON

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
